@font-face {
  font-family: 'Harmattan-Medium';
  src: url("./fonts/HarmattanM.woff2") format('woff2'),
    url('./fonts/HarmattanM.woff') format('woff');
}

@font-face {
  font-family: 'Jigsaw';
  src: url("./fonts/jigsaw.woff2") format('woff2'),
    url('./fonts/jigsaw.woff') format('woff');
}

:root {
  --fill1: #dedede;
  --fill2: #3a3a3a;

  --text1: #000000;
  --text2: #ffffff;

  --hover1: #FE5D26;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Harmattan-Medium', sans-serif;
  color: var(--text1);
  background-color: #1a1a1a; 
}


a {
  text-decoration: none;
  color: var(--text1);
}


/* ----- START NAVBAR ----- */
header {
  /* background: var(--fill1); */
  background: black;
  width: 100%;
  position: fixed;
  z-index: 2000;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
}

.navtext {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  /* color: var(--text1); */
  color: white;
}

nav ul {
  list-style-type: none;
} 

.logo {
  display: flex;
  align-items: center;
  margin-left: 30px;
  transition: all 0.5s ease-in-out, height 0ms;
}

.logotextresponsive {
  font-size: 1.2;
}

.logo img {
  height: 50px;
  margin-right: 10px;
  margin-top: 5px;
  text-decoration: none;
  filter: invert(0%);
  fill-opacity: 50%;
  transition: all 0.5s ease-in-out, height 0ms;
}

.menu {
  display: flex;
  margin-right: 10px;
  transition: all 0.5s ease-in-out, height 0ms;
}

.menu ul {
  list-style-type: none;
}

.menu li {
  position: relative;
  text-decoration: none;
  margin-right: 80px;
  transition: all 0.2s ease-in-out, height 0ms;
}

.menu a:hover {
  color: var(--hover1);
}

.menu a.active {
  border-bottom: 2px solid #FE5D26;
  padding-bottom: 0.1rem;
}


/* END NAVBAR */




/* This section is to create extra spacing right above the subtitles
  it will also get an ID in the HTML, so that links can automatically scroll to it */

#about, #outcomes {
  height: 1px;
}

.section {
  height: 0px;
}


.scrolltop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 40px;
  width: 40px;
  z-index: 100;  
  transition: all 0.5s ease-in-out, height 0ms;
}

.scrolltop:hover {
  transform: scale(1.2);
}

.end {
  margin-bottom: 150px;
}




/* Responsiveness to displays narrower than 800px */

@media screen and (max-width: 800px) {

  .navtext {
    font-size: 1.3rem;
  }

  .logo {
    margin-left: 0px;
  }

  .logo img {
    margin-right: 0px;
    transform: scale(0.85);
  }
  
  .menu {
    margin-right: 10px;
  }

  .menu li {
    margin-right: 10px;
  }

}